.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #1c2021, #211f1c);
    overflow: hidden;
    i {
        position: absolute;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 0 10px #fff,
                    0 0 20px #fff,
                    0 0 40px #fff,
                    0 0 80px #fff;
        animation: animateStars 2s linear infinite;
        transition: 0.5s;
        z-index: 0;
    }
    .rotate {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 700px;
        height: 700px;
        transform: translate(-50%, 50%) rotate(45deg);
        transition: 0.5s;
        z-index: 1;
        .moon {
            position: absolute;
            left: 0;
            top: 0;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: #fbe7b5;
            box-shadow: inset 0 0 20px #fbe7b5, 0 0 30px #fbe7b5;
            transform: translate(-50%, -50%) rotate(-45deg);
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                opacity: 0;
                animation: animateText 2s linear infinite;
            }
        }
        .sun {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: #ff5722;
            box-shadow: 0 0 20px #ff5722,
                        0 0 40px #ff5722,
                        0 0 80px #ff5722,
                        0 0 160px #ff5722,
                        0 0 320px #ff5722;
            transform: translate(50%, 50%) rotate(135deg);
            overflow: hidden;
            img {
                transform: translate(100%);
                width: 100%;
                height: 100%;
                transition: 0.5s;
                transition-delay: 15s;
            }
            .year {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translate(-50%);
                span {
                    font-size: 0px;
                    color: #fff;
                    transform: skewY(-7deg);
                    text-shadow: 1px 1px 0 #ccc,
                             2px 2px 0 #ccc,
                             3px 3px 0 #ccc,
                             4px 4px 0 #ccc,
                             5px 5px 0 #ccc;
                }
            }
            .text {
                position: absolute;
                top: 200%;
                left: 50%;
                transform: translate(-50%);
                width: 280px;
                text-align: center;
                font-size: 1.5em;
                opacity: 0;
                font-family: 'Dancing Script', cursive;
            }
        }
        
    }
    .sea {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 150px;
        background: linear-gradient(to bottom, #17225e 30px, #3751e0);
        z-index: 2;
        .shadow {
            position: absolute;
            left: 50%;
            top: 10px;
            width: 100px;
            height: 50px;
            transform: translate(-50%);
            z-index: 3;
            background: #fbe7b5;
            border-radius: 50%;
            opacity: 0.2;
        }
    }
    &.change {
        animation: animateBg 15s linear forwards;
        .rotate {
            animation: animateRotate 15s linear forwards;
            .moon {
                h2 {
                    animation: none;
                }
            }
            .sun {
                animation: animateSun 15.5s linear forwards;
                img {
                    transform: translate(0px);
                }
                .year {
                    span {
                        animation: fadeOut 3s ease-in-out forwards;
                        animation-delay: calc(13s + (0.2s * var(--i)));
                    }
                }
                .text {
                    animation: animateText 1s ease-in-out forwards;
                    animation-delay: 17s;
                }
            }
        }
        .sea {
            animation: animateSea 15s linear forwards;
            .shadow {
                animation: animateShadow 15s linear forwards;
            }
        }
    }
}
@media (max-width: 540px) {
    .container {
        .rotate {
            .sun {
                img {
                    transition-delay: 10s;
                }
            }
        }
    }
    .container.change {
        animation: animateBg 10s linear forwards;
        .rotate {
            animation: animateRotate 10s linear forwards;
            .moon {
                h2 {
                    animation: none;
                }
            }
            .sun {
                animation: animateSun 10.5s linear forwards;
                img {
                    transform: translate(0px);
                }
                .year {
                    span {
                        animation: fadeOut 3s ease-in-out forwards;
                        animation-delay: calc(8s + (0.2s * var(--i)));
                    }
                }
                .text {
                    animation: animateText 1s ease-in-out forwards;
                    animation-delay: 12s;
                }
            }
        }
        .sea {
            animation: animateSea 10s linear forwards;
            .shadow {
                animation: animateShadow 10s linear forwards;
            }
        }
    }
}
@keyframes animateSun {
    0%, 99.9% {
        overflow: hidden;
    }
    100% {
        overflow: visible;
    }
}
@keyframes animateRotate {
    0% { 
        transform: translate(-50%, 50%) rotate(45deg);
    }
    47.5% {
        transform: translate(-50%, 50%) rotate(125deg);
    }
    52.5% {
        transform: translate(-50%, 50%) rotate(140deg);
    }
    100% {
        transform: translate(-50%, 50%) rotate(225deg);
    }
}
@keyframes animateShadow {
    0% {
        width: 100px;
        height: 50px;
        transform: translate(calc(-50% + 0px));
        background: #fbe7b5;
    }
    47.5% {
        width: 50px;
        height: 0px;
        transform: translate(calc(-50% + 485px));
        background: #fbe7b5;
    }
    55% {
        width: 50px;
        height: 0px;
        transform: translate(calc(-50% - 485px));
        background: #ff5722;
    }
    100% {
        width: 100px;
        height: 50px;
        transform: translate(calc(-50% + 0px));
        background: #ff5722;
    }
}
@keyframes animateBg {
    0% {
        background: linear-gradient(to bottom, #1c2021, #211f1c);
    }
    52.5% {
        background: linear-gradient(to bottom, #1c2021, #211f1c);
    }
    55% {
        background: linear-gradient(to bottom, #1c2021, #46413b);
    }
    60% {
        background: linear-gradient(to bottom, #3b4446, #6b655b);
    }
    70% {
        background: linear-gradient(to bottom, #6a7a7e, #a3998a)
    }
    80% {
        background: linear-gradient(to bottom, #9aafb5, #dbcdb9)
    }
    90% {
        background: linear-gradient(to bottom, #b9d3da, #ffedd7);
    }
    95% {
        background: linear-gradient(to bottom, #d8fbff, #ffedd7);
    }
    100% {
        background: linear-gradient(to bottom, #d8fbff, #ffedd7);
    }
}
@keyframes animateSea {
    0% {
        background: linear-gradient(to bottom, #17225e 30px, #3751e0);
    }
    52.5% {
        background: linear-gradient(to bottom, #17225e 30px, #3751e0);
    }
    55% {
        background: linear-gradient(to bottom, #1c2971 30px, #3751e0);
    }
    60% {
        background: linear-gradient(to bottom, #202f83 30px, #3751e0);
    }
    70% {
        background: linear-gradient(to bottom, #293da8 30px, #3751e0);
    }
    80% {
        background: linear-gradient(to bottom, #324acd 30px, #3751e0);
    }
    90% {
        background: linear-gradient(to bottom, #3751e0 30px, #3751e0);
    }
    95% {
        background: linear-gradient(to bottom, #3751e0 30px, #3751e0);
    }
    100% {
        background: linear-gradient(to bottom, #3751e0 30px, #3751e0);
    }
}
@keyframes animateStars {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animateText {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
       font-size: 0px;
    }
    90% {
        font-size: 0px;
    }
    95% {
        font-size: 100px;
    }
    100% {
        font-size: 65px;
    }
}
@keyframes animateText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
